h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: normal;
    font-size: 50px;
    color: white;
    text-align: center;
}
body {
    background-color: black;

}

#downloadLink  {
    color : aquamarine;
    text-align: center;
    width: 100%;
    font-size: 16px;

    
}
video {
    margin:auto; 
    
}
.videoElement{

    text-align: center;
}
